

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  background-color: #3a3d3f;
  background-image: linear-gradient(145deg, #3a3d3f, #3a3d3f);
  border-left:1px solid #ddd;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.panel {
    margin-bottom: 0px;
    background-color: #fff;
    border: 0px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}
.menu {
  
}

.menu a {
  color: #fff;
}

.menu a:hover {
  text-decoration: underline;
}

.menu-header {
  border-bottom: 1px solid #2a2d2f;
  padding: 20px;
  background-size: 32px;
}

.menu-header-title {
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
}

.menu-section {
  margin: 15px 0;
}

.menu-section-title {
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  padding: 0 20px;
  margin:0;
}

.menu-section-list {
  padding:20px 0;
  margin: 0px 0;
  list-style:none;
}

.menu-section-list a {
  display: block;
  padding: 10px 20px;    font-weight: 600; font-size:15px;
}
.menu-section-list a:hover { text-decoration:none;}
.panel {
  min-height: 100%;
}

#mocha {
  text-align: left;
  margin:0 !important;
}

#mocha-stats {
  top: 70px;
}

/**
 * Header
 */


/**
 * Boxes
 */
.box {
  border: 1px solid #4b5;
  border-radius: 4px;
  text-align: left;
  margin: 50px 10px;
  position: relative;
}

.box:before,
.box:after {
  content: ' ';
  display: inline-block;
  width: 1px;
  height: 50px;
  border-left: 1px solid #4b5;
  position: absolute;
  left: 50%;
}

.box:before {
  top: -50px;
}

.box:after {
  bottom: -50px;
}

.box-title {
  margin: 0;
  padding:10px 20px;
  border-bottom: 1px solid #4b5;
  color: #4b5;
  font-size: 1.2em;
  font-weight: 400;
}

.box-content {
  padding:20px;
  background-color: #f8f8f8;
}

/**
 * Medium Screens
 */
@media all and (min-width:40em) {

  .btn-hamburger {
    top: 20px;
    left: 30px;
  }

  .panel-header {
    margin-top: 40px;
    width: 455px;
  }

  .title {
    font-size: 4.2em;
  }
}

/**
 * Large Screens
 */
@media all and (min-width: 54em) {
  .box {
    width: 70%;
    max-width: 1200px;
    margin: 50px auto;
  }
}

/**
 * Footer
 */

.slideout-menu { left: auto; }
      .btn-hamburger { left: auto; right: 12px;}
      .box { height: 1500px; }